

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap p-4">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="https://i.pinimg.com/originals/95/2f/c0/952fc00ddfa641c759178afea6c23b07.png" alt="">
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Login OTP</h3>
						<form class="row login_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Enter OTP" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter OTP'">
							</div>
							<div class="col-md-6 form-group">
								<button type="submit" value="submit" class="btn btn-outline-dark">Login</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

